@model ObjetoEscuelaBase

<section id="portafolio" class="portfolio">
    <div class="Container">
        <h2>@ViewData["Title"]</h2>        
        <h3>Nombre : @Model.Nombre </h2>  
        <p><i>@ViewBag.Fecha</i></p>
        <p><i>Curso ID : @Model.Id</i></p>
        <article class="project">
                <div class="project-details">          
                    <p class="project-description">@Model.Descripicion</p>
                </div>
                @* @if(Model is Alumno )
                {
                    <figure class="project-image-container">
                        <img class="project-image" alt="Imagen de Alumno">
                    </figure>
                }
                else
                {
                    <figure class="project-image-container">
                        <img class="project-image" src="~/images/platzi-video-react-native.png" alt="React js" width="500">
                    </figure>
                } *@
 
        </article>
    </div>
</section>
