@model Alumno

@{
    ViewData["Title"] = "Información Alumno";
    Layout="Simple";
}

<section id="portafolio" class="portfolio">
    <div class="Container">
        <h2>@ViewData["Title"]</h2>     
        <article class="project">
                <h3 class="project-title"> <strong>@Model.Nombre </strong></h3>      
                <div class="project-details">   
                    <p>Alumno ID : @Model.Id</p>    
                    <p class="project-description">CursoId : @Model.CursoId</p>
                    <p class="project-description">Curso : @ViewBag.CursoNombre</p>
                </div>
        </article>
    </div>
</section>